header, .mywork-bg {
    background-color: #23232e;
}
.bg {
    background-image: url("images/bg.png");
}
.btn-color {
    background-color: #7b77c9;
}

footer i:hover {
    color: green;
}
.mywork-bg ul li a:hover {
    text-decoration: none;
    border-bottom: 1px solid #7b77c9;
}